@import "colors.scss";

.left-menu {
    height: calc(100% - 4.5em);
    position: fixed;
    left: 0;
    background-color: white;
    color: $base-color;
    z-index: 100;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

    &--item {
        display: flex;
        align-items: center;

        i {
            font-size: 2em;
            display: block;
            position: relative;
        }

        &:hover,
        &-selected {
            cursor: pointer;
            opacity: 1;
        }

        &:focus {
            outline: 0;
        }
    }

    &--expand-button {
        width: 2em;
        height: 2em;
        border-radius: 50%;
        background-color: $base-color-darkest;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 0.5em;
    }
}

.menu {

    &--group-title {
        color: $base-color-lighter;
        border-bottom: 1px solid #e6ecf5;
        padding: 0.5em 1em;
    }

    &--entry {
        color: $text-grey;
        border-bottom: 1px solid #e6ecf5;
        display: flex;
        align-items: center;
        padding: 1em;

        p {
            margin-left: 1em;
        }

        &:hover {
            color: $base-color;
            cursor: pointer;
        }
    }
}

.collapsed-left-menu {
    width: 4.5em;

    .left-menu--list {
        margin-top: 2em;

        .left-menu--item {
            justify-content: unset;
    
            i {
                margin: 0 auto;
                padding: 0;
            }
        }

        .menu--entry {
            border-bottom: 0;
        }
    }

    .left-menu--expand-button {
        left: 3.5em;
    }
}

.expanded-left-menu {
    width: 19.5em;

    .left-menu--list {
        margin-top: 0;
    }
    
    .left-menu--item {
        justify-content: left;

        i {
            margin: unset;
            padding: unset;
        }
    }

    .left-menu--expand-button {
        left: 18.5em;
    }
}

// hide when mobile
@media (max-width: 991px) {
    .left-menu {
        display: none;
    }
}