$base-color: #546FB2;
$base-color-alfa-70: rgba(84, 111, 178, 0.7);
$base-color-darker: #415891;
$base-color-darkest: #1e4482;
$base-color-lighter: #adbada;
$base-color-lighter-transparent: #869ee448;
$text-color: #030C2B;
$text-grey: #515365;
$background-color: #f9f7ff;
$disabled-color: grey;
$border-color: #cccccc;
